<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SLTBillConnectionString" connectionString="Data Source=DESKTOP-BIJLHTG\Yuresh_SQL;Initial Catalog=SLTBillPaymentDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="KioskWebAppBaseURL" value="http://localhost:3001/api/v1" />
     <!--http://192.168.3.132/api/v1/-->
    <add key="VideoUpdateURL" value="https://paymentkiosk.slt.com.lk/api/v1/containers/zip/download/videos.zip" />
    <add key="ScheduledTimeForNewDay" value="09" />
    <add key="BranchCode" value="101" />
    <add key="KioskCode" value="0001" />
    <add key="IsMobitelPaymentEnable" value="false" />
    <add key="MaxChequeAmount" value="500000" />
    <add key="MinChequeAmount" value="10" />
    <add key="ReleaseMode" value="false" />
    <add key="CashAccepterPort" value="COM15" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- <add key="UpdateXmlUrl" value="https://paymentkiosk.slt.com.lk/api/v1/kiosksettings/app-update"/> -->
    <add key="UpdateXmlUrl" value="https://raw.githubusercontent.com/Yuresh/DimoSLTBillPayment/master/update.xml"/> 
    <add key="ApplicationName" value="SLTBillPayment"/>
    <add key="KioskDefaultLanguage" value="sinhala"/>
    <add key="BOCBankCode" value="7010"/>
    <add key="PeoplesBankCode" value="7135"/>
    <add key="EnableMobitelPayments" value="false"/>

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760">
          <readerQuotas />
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web>
    <httpRuntime maxRequestLength="2097152" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.net>
    <connectionManagement>
      <add address="https://raw.githubusercontent.com/Yuresh/DimoSLTBillPayment/master" maxconnection="100" />
    </connectionManagement>
  </system.net>

</configuration>